.pagination {
  display: flex;
  justify-content: center;
  gap: var(--spacing);

  .pages {
    display: flex;
    border: var(--border);
    border-radius: var(--radius);
    overflow: hidden;

    .btn {
      &:not(:last-child) {
        border-right: var(--border);
      }
    }
  }
}
