.sort-bar {
  &,
  header,
  ul {
    display: flex;
  }

  flex-direction: column;

  header {
    background-color: var(--light);
    border-radius: 999px;
    border: var(--border);
    overflow: hidden;

    .btn {
      border-right: var(--border);
    }
  }

  ul {
    margin-top: var(--spacing-s);
    gap: var(--spacing-s);
  }
}
